.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "he he"
    "na bod"
    "na bod"
    "foo foo";
}

a {
  text-decoration: none;
  color: black;
}

header {
    grid-area: he;
    background-color: #ffffff;
}

.title {
    background-color: #a1afe4;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    width: 30vw;
    margin: auto;
}

/* .title h1 {
    text-shadow: 2px 2px 2px #161a27;
} */

aside {
  grid-area: na;
  background-color: #ffffff;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 2px 2px 2px #161a27;
  background-color: #5768a5;
  border-radius: 25px;
  text-align: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style: none;
  display: block;
  font-size: 1.5em;
}

.navbar li:hover {
  background-color: #FFFFFF88;
}

.navbar li a {
  display: block;
  width: 100%;
  height: 100%;
}

.navbar-swap {
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  display: none;
}

main {
    grid-area: bod;
    background-color: #ffffff;
    padding: 2px 5px;
}

.article-container {
  display: flex;
  flex-direction: column;
}

.article-left {
  align-self: flex-start;
}

.article-middle {
  align-self: center;
}

.article-right {
  align-self: flex-end;
}

.article-prev {
  width: 40vw;
  margin: 12px;
  box-shadow: 6px 6px 2px #2f3650;
  border: thick double #5768a5;
  padding: 6px;
}

.article-prev div{
  display: inline-block;
}

.article-image {
  width: 120px;
  height: 120px;
  display: inline-block;
}

footer {
    grid-area: foo;
    background-color: #5768a5;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-areas:
      "he he"
      "na na"
      "bod bod"
      "foo foo";
  }

  .title {
      width: 80vw;
  }

  .navbar li {
    display: block;
  }

  .navbar-swap {
    display: block;
  }

  .navbar-list {
    display: none;
  }

  .navbar-shown {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .article-prev {
    width: 60vw;
  }
}
