.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "he he"
    "na bod"
    "na bod"
    "foo foo";
}

a {
  text-decoration: none;
  color: black;
}

header {
    grid-area: he;
    background-color: rgb(250, 250, 254);
    padding: 5px;
    text-align: center;
    color: #5768a5;
}

header p{
    margin: 0 20vw;
}

aside {
  grid-area: na;
  background-color: rgb(250, 250, 254);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.navbar {
  background-color: #5768a5;
  border-radius: 25px;
  text-align: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style: none;
  display: block;
  font-size: 1.5em;
}

.navbar li:hover {
  background-color: #FFFFFF88;
}

.navbar li a {
  display: block;
  width: 100%;
  height: 100%;
}

.navbar-swap {
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  display: none;
}

main {
    grid-area: bod;
    background-color: rgb(250, 250, 254);
    padding: 2px 5px;
}

footer {
    grid-area: foo;
    background-color: #5768a5;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
  .navbar li {
    display: block;
  }

  .navbar-swap {
    display: block;
  }

  .navbar-list {
    display: none;
  }

  .navbar-shown {
    display: block;
  }
}
