/*Mobile display*/

.grid {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "he he" "na na" "bod bod" "foo foo";
}

.title {
    background: linear-gradient(to bottom right, #c35ce0 0%, #5c79e0 100%);
    color: white;
    padding: 5px;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
}

header {
    grid-area: he;
    background-color: #ffffff;
}

nav {
    grid-area: na;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    box-shadow: 2px 2px 2px #161a27;
    background-color: #2a44a1;
    border-radius: 0 0 25px 25px;
    text-align: center;
    font-size: 1.8em;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    display: block;
}

.navbar li:hover {
    background-color: #FFFFFF88;
}

.navbar li a {
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-swap {
    display: block;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}

.navbar-list {
    display: none;
}

.navbar-shown {
    display: block;
}

.navbar-item a {
    margin: 0 12px;
}

.navbar-item a {
    color: white;
}

.navbar-item-selected a {
    color: #e4d05e;
}

main {
    grid-area: bod;
    background-image: url("../images/bg-dice.jpg");
    background-size: cover;
    padding: 2px 5px;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.article-prev {
    margin: 12px;
    border: thick double #2a44a1;
    padding: 6px;
    font-size: 0.8em;
    background-color: white;
}

.article-prev {
    margin: 12px;
    border: thick solid #2a44a1;
    padding: 6px;
    font-size: 0.8em;
}

.article-link {
    display: block;
    box-shadow: 2px 2px 2px #2f3650;
    background: linear-gradient(to bottom right, #c35ce0 0%, #5c79e0 100%);
    color: white;
    text-align: center;
}


/* .article-image {
width: 120px;
height: 120px;
display: inline-block;
} */

footer {
    grid-area: foo;
    background-color: #2a44a1;
    border-radius: 25px 25px 0 0;
    padding: 0 12px;
    color: white;
}


/*Large mobile display*/

@media screen and (max-width: 426px) {
    .placeholder {
        color: black;
    }
}


/*Desktop display*/

@media screen and (min-width: 769px) {
    .article-left {
        align-self: flex-start;
    }
    .article-middle {
        align-self: center;
    }
    .article-right {
        align-self: flex-end;
    }
    .article-prev {
        width: 40vw;
    }
    nav {
        border-radius: 0;
    }
    .navbar li {
        list-style: none;
        display: inline-block;
    }
    .navbar-list {
        display: block;
    }
    .navbar-swap {
        display: none;
    }
    footer {
        border-radius: 0;
    }
}


/*4K desktop display*/

@media screen and (min-width: 1440px) {
    .placeholder {
        color: black;
    }
    .grid {
        margin: 0 15vw;
    }
    nav {
        box-shadow: 0px 2px 2px #161a27;
    }
}