/*Mobile display*/

.grid {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "he he" "na na" "bod bod" "foo foo";
}

.title {
    background: linear-gradient(to bottom right, #c35ce0 0%, #5c79e0 100%);
    color: white;
    padding: 5px;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

header {
    grid-area: he;
    background-color: #ffffff;
}

aside {
    grid-area: na;
    background-color: #ffffff;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    box-shadow: 2px 2px 2px #161a27;
    background-color: #2a44a1;
    border-radius: 0 0 25px 25px;
    text-align: center;
    font-size: 1.8em;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    display: block;
}

.navbar li:hover {
    background-color: #FFFFFF88;
}

.navbar li a {
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-swap {
    display: block;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}

.navbar-list {
    display: none;
}

.navbar-shown {
    display: block;
}

main {
    grid-area: bod;
    background-color: #ffffff;
    padding: 2px 5px;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.article-prev {
    margin: 12px;
    box-shadow: 6px 6px 2px #2f3650;
    border: thick double #2a44a1;
    padding: 6px;
    font-size: 0.8em;
}

.article-prev div {
    display: inline-block;
}

.article-image {
    width: 120px;
    height: 120px;
    display: inline-block;
}

footer {
    grid-area: foo;
    background-color: #2a44a1;
    border-radius: 25px 25px 0 0;
    padding: 0 12px;
}


/*Large mobile display*/

@media screen and (max-width: 426px) {}


/*Desktop display*/

@media screen and (min-width: 769px) {
    .article-left {
        align-self: flex-start;
    }
    .article-middle {
        align-self: center;
    }
    .article-right {
        align-self: flex-end;
    }
    .article-prev {
        width: 40vw;
    }
    .title {
        border-radius: 50px;
        width: 40vw;
    }
    nav {
        border-radius: 50px;
    }
}


/*4K desktop display*/

@media screen and (min-width: 1441px) {}
